.welcome 
    height: 100vh
    width: 100vw
    background-size: cover
    display: grid
    grid-template-columns: repeat(12, 1fr)
    background: #000

    h1 
        font-size: 4em
        font-weight: bold
        color: #fff
        line-height: 1

        .welcome__green
            color: #00FCCF

.welcome__left
    grid-column: 2 / span 5
    display: flex
    flex-direction: column
    justify-content: center



.welcome__subtext
    color: #fff
    padding-right: 150px
    padding: 30px 150px 30px 0


    
@import "~bulma"

// responsiveness
+tablet-only
    .welcome__left 
        grid-column: 2/span 10

+mobile
    .welcome h1 
        font-size: 2.5em
        line-height: 1.5

    .welcome__left 
        grid-column: 2/span 10

    .welcome__subtext
        padding: 30px 0