.navbar
    position: absolute !important
    width: 100%
    background: transparent !important
    min-height: 4.25rem !important

    .navbar-start
        width: 100% !important
        justify-content: center

    .navbar-item
        color: #fff !important
        padding: 0.5rem 1.75rem !important