@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

body
  font-family: 'Poppins', sans-serif !important
  margin: 0
  padding: 0

.section 
  display: grid
  place-items: center
  height: 100vh

  .logo
    width: 200px

  .uc
    text-align: center
    font-weight: 600
    margin-top: 1em

.navbar-item img
  max-height: unset !important

.horizontal-scroll 
    margin-left: 20px;
    overflow-y: hidden;
    overflow-x: scroll;


// Cards
.cards
  display: flex;
  padding: 2em 0;
  gap: 1em;
  justify-content: center;


@import "~bulma"
+mobile
  .cards 
    display: inline-flex;
    gap: .5em;
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;

  .navbar .navbar-start
    width: 100% !important

  .navbar-menu
    background-color: #2a0950 !important